<h1>Our Cool restaurant!</h1>

<h2>Suggestions for you:</h2>

<ul id="suggestions">
    {{#each menu}}
    {{#unless devoured}}
    {{> menu/menu-devour devoured=false}}
    {{/unless}}
    {{/each}}
</ul>

<h2>Ordered:</h2>

<ul>
    {{#each menu}}
    {{#if devoured}}
    {{> menu/menu-delete devoured=true}}
    {{/if}}
    {{/each}}
</ul>

<h2>What you would like to add?</h2>

<form class="create-form">

    <div class="form-group">
        <label for="ca">Add here:</label>
        <input type="text" id="ca" name="name">
    </div>

    <button type="submit">Add item</button>
</form>